/* PERUNSPACE STYLES */

/*
SCTRUCTURE:
- common html styles: body, h1, a, p, etc
- layout styles
- section specific styles
- js specific styles
*/


/* ============================================================================
                                 COMMON STYLES
============================================================================ */

html {
    height: 100%;
    background: #000000;
}

body {
    width: 960px;
    margin: 0px auto;
    padding: 0px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #CCCCCC;
    background: #252525;
    text-align: left;
}

img { border: 0; }

/* check in ie: */
#container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 2px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 170%;
    font-weight: normal;
    color: #FFAE5E;
    background: #333;
    border: 1px solid #666;
    text-align: center;
}

h2 {
    margin-top: 8px;
    margin-bottom: 6px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 150%;
    font-weight: normal;
    color: #FFAE5E;
    text-align: left;
}

h3 {
    margin-top:8px;
    margin-bottom:6px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 150%;
    font-weight: normal;
    color: #FFAE5E;
    text-align:left;
}

a, a:visited {
    color: #F59E52; /*#FFAE5E;*/ /*#F59E52;*/
    text-decoration: underline;    
}

a:hover, a:active {
    color: #FFFFFF; /* brown color: #FFCB5C; */
    text-decoration: none;
}

p {
    margin-top:2px;
    margin-bottom:10px;
    text-align:justify;
}

strong {
    font-weight:normal;
    color:#EE0000;
}

blockquote {
    font-style: italic;
    text-align: justify;
}

input, textarea {
    background-color: #666666;
}

textarea {
    width: 75%;
    height: 100px;
}

.clearfix {
    clear: both;
}

/* =========================== ESCPECIALLY STYLES ========================== */

div.img {
    clear: both;
    text-align: center;
    margin: 6px auto;
}

div.img img {
    display: inline;
    border: 1px solid #999;
}

img.free {
    border: 0px;
}

a.next, a.next:visited {
    border:1px solid #333;
    background: #222;
    text-decoration: none;
    padding:2px;
    color: #cccccc;
}

a.next:hover {
    color: #ffffff;
}

.fire {
    color:#F00;
}

.darkfire {
    color:#C00;
}

.gold {
    color:#FFAE5E;
}

.gray {
    color: #666;
}

.subfont {
    font-size: 75%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.fleft {
    float:left;
    text-align: left;
    margin-right: 4px;
    padding-bottom: 4px;
}

.fright {
    float: right;
    text-align: right;
    margin-left: 4px;
}


/* ============================================================================
                                 LAYOUT - MAIN
============================================================================ */

#main {
    min-height: 550px;
    margin:0px;
    padding:0px;
    background:#252525;
}

#content {
    float: left;
    /*overflow: auto;*/
    width: 708px;
    min-height: 550px;
    margin: 0;
    padding: 8px;
    padding-top: 0px;
    background: #1A1A1A;
    text-align: left;
}


/* ============================================================================
                                LAYOUT - INFOBARS
============================================================================ */

.infobar {
    text-align: left;
    clear: both;
    border: 1px solid #444;
    height: 16px;
    margin: 3px 0 3px 0;
    padding: 3px;
    background-image: url(/media/design/decor/infobar-bg.gif);
}

.infobar a, .infobar a:visited {
    color:#CCCCCC;
    text-decoration: underline;
}

.infobar a:hover {
    color:#FFFFFF;    
    text-decoration: none;
}

#breadcrumbs, #copyright {
    float: left;
}

#profile, #author {
    float: right;
}

#copyright, #author {
    color: #666666;
}


/* ============================================================================
                                LAYOUT - SIDEBAR
============================================================================ */

#sidebar {
    float: right;
    width: 216px;
    padding: 8px;
    color: #FFAE5E;
}

#sidebar h2 {
    color:#FFAE5E;
    font-size: 150%;
    font-weight: normal;
}

#sidebar ul {
    margin: 0; padding: 0;
    margin-bottom: 4px;    
    font-family: Georgia;
    font-size: 140%;
    list-style: none;
}

#sidebar ul li ul {
    padding-left: 24px;
    color: #ccc;
    font-size: 12px;
    font-family: Verdana, Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    list-style-type: disc;
}

#sidebar ul li a, #sidebar ul li a:visited {
    color: #CCCCCC;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #FFFFFF;    
    text-decoration: none;
}


/* ============================================================================
                             SECTION SPECIFIC STYLES
============================================================================ */


/* ================================ PAGES ================================== */

.page h2 {
    font-size: 150%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 6px;
    color: #FFFFFF;
    text-align: center;
}

/* ================================== BLOG ================================= */

.blog h2 {
    font-size: 170%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    text-align: left;
    color: #cccccc;
    /*color:#FFAE5F;*/
    padding: 4px;
    margin-top: 8px;
    margin-bottom: 4px;
    border:1px solid #666;
    background:#252525;
}

.blog h2 a {
    /*color:#FFB569;*/
    color:#FFAE5F;
    /*color: #ddd;*/
    text-decoration: none;
    margin-bottom: 8px;
}

.postinfo {
    margin-bottom: 8px;
    font-size: 80%;
    color: #666;
    text-align: left;
}

.postinfo a, .postinfo a:visited {
    color: #999;
}

.postinfo a:hover {
    color: #fff;
}


/* ================================ GALLERY ================================ */

.gallery a, .gallery a:visited, #tagcloud a, #tagcload a:visited {
    color: #cccccc;
}

.gallery a, .gallery a:hover, #tagcloud a:hover {
    color: #ffffff;
}

#album-title {
    margin: 4px auto;
    text-align:center;
    font: 14px bold Verdana;
}

.photo h1 {
    width: 650px;    
    margin: 6px auto;    
    border:1px solid #666;
    color:#FFAE5E;    
    background:#333;
    text-align:center;
}

#photo-nav {
    margin: 0px auto 4px;
    text-align:center;
}

#recentcomments ul li span {
    color: #CCCCCC;
}

#recentcomments ul li a, #recentcomments ul li a:visited {
    color: #F59E52;/*#FFAE5E;*/
    text-decoration: underline;
}

#recentcomments ul li a:hover {
    color: #FFFFFF;
    text-decoraton: none;
}


/* ============================== EVENTS ================================ */

.eventlist ul {
    min-height: 10px;    
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.eventlist ul li span {
    font-style: italic;
}

.eventlist ul li ul {
    font-size: 75%;
    color: #666;
    margin-left: 110px; 
    margin-top: -2px;
}

.eventlist ul li ul li {
    display: inline;
    margin-right: 5px;
}

.eventlist ul li ul li a, .eventlist ul li ul li a:visited {
    color: #777777;
    text-decoration:none;
}

.eventlist ul li ul li a:hover {
    color: #FFFFFF;
}


/* ============================= FRONT PAGE ================================ */

#content.frontpage {
    width: 944px;
}

.half {
    width: 450px;
    float: left;
    margin: 0px;
    padding: 6px;
    padding-top: 0px;
    text-align: left;
}

.frontpage h2 {
    margin-top: 8px;
    margin-bottom: 6px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 150%;
    font-weight: normal;
    color: #FFAE5E;
    text-align: left;
}

.frontpage h2 a, .frontpage h2 a:visited, ul.htabs span a {
    color:#CCCCCC;
    text-decoration: none;
}

.frontpage h2 a:hover, ul.htabs span a:hover {
    color:#FFFFFF;
    text-decoration: none;
}

#about {
    font: italic 19px Times New Roman;
    line-height:1.2;
    text-align: justify;
}

.ptitle {
    float: left;
}

.pdate {
    float: right;
    color: #CC0000;
}

.ptype {
    float: left;
    color: #666;
    font-size: 75%;
}

.preplies {
    float: right;
    color: #666;
    font-size: 75%;
}


/* ============================================================================
                                 HEADER LAYOUT
============================================================================ */

#header {
    clear: both;
    position: relative;
    margin: 0 auto;
    height: 144px;
    background-image:url(/media/design/decor/header-bg.gif); 
}

#sitelogo {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 136px;
    height: 136px;
    margin: 4px;
}

#sitetitle {
    position: absolute;
    top: 2px;
    left: 170px;
    color: white;
    font: italic 40px Times New Roman;
}

#siteslogan {
    position: absolute;
    top: 38px;
    left: 400px;
    color: white;
    font: italic 24px Times New Roman;
}

#sitepicture {
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 0px;
    width: 220px;
    height: 136px;
    margin: 4px;
    background: url(/media/design/logo/psloboda-view.gif);
}

/* ============================ SIMPLE PAGE MENU ========================== */

#pagemenu {
    position:absolute;
    z-index: 1;
    top: 70px;
    left: 120px;
    width: 633px;
    height: 41px;
    padding-left: 20px;
    padding-top: 5px;
    text-align: left;
    background-image: url(/media/design/decor/header-menu.gif);
}

#pagemenu ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#pagemenu li {
   display: block;
   float: left;
   width: 116px;
   margin: 0;
   padding: 0;
}

#pagemenu li#tradition { width: 146px; }
#pagemenu li#strely { width: 120px; }
#pagemenu li#sloboda { width: 88px; }
#pagemenu li#farm { width: 104px; }
#pagemenu li#camp { width: 140px; }

#pagemenu ul li a, #pagemenu ul li a:visited {
    display: block;
    float: left;
    padding: 0px 4px 0px 4px;
    font: 14px Verdana;
    font-style: italic;
    color: #CCCCCC;
    text-decoration: none;
    text-align: center;
}

#pagemenu ul li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* ========================== CASCADE SITE MENU ======================== */

#sitemenu {
    position: absolute;
    bottom: 4px;
    left: 166px;
    text-align: center;
}

#sitemenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#sitemenu ul li {
    display: block;
    position: relative;
    float: left;
}
#sitemenu ul li ul {
    display: none;
    margin: 0;
    padding: 0;
}
#sitemenu ul li a {
    display: block;
    margin-left: 10px;
    padding: 0px 6px 1px 6px;
    font: 13px Verdana;
    font-weight: bold;
    color: #CCCCCC;
    text-align: left;
    text-decoration: none;
    background: #580202;
    white-space: nowrap;
}
#sitemenu ul li ul li a {
  border-bottom: 2px solid #380202;
  font-weight: normal;
}
#sitemenu ul li a:hover { background: #580202; color:#ffffff; }
#sitemenu ul li:hover ul { display: block; position: absolute; }
#sitemenu ul li:hover li { float: none; }
#sitemenu ul li:hover a { background: #580202; }
#sitemenu ul li:hover li a:hover { background: #580202; }

    
/* ============================================================================
                               FRONT PAGE TABS
============================================================================ */

.htabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.htabs li {
    display: inline;
    margin-top: 2px;
    padding: 3px 2px 0 0;
    overflow: hidden;
}
.htabs li a {
    padding: 2px;
    font-family: Georgia;
    font-size: 18px;
    color: #FFAE5E;
    text-decoration: none;
}

.htabs li a:hover, .htabs span a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.htabs span {
    padding: 2px;
    font-size: 18px;
    font-family: Georgia;
    color: #FFAE5E;
    text-decoration: none;
}

.htabs span a {
    text-decoration: none;
}

.tabs {
    margin-top: 2px;
    overflow: hidden;
}
.tabs ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.tab ul li {
    clear: both;
    display: block;
    margin: 2px;
    margin-bottom: 3px;
    padding: 2px;
    background: #272727;
}
.tab ul li a {
    color: #CCCCCC;
    text-decoration: none;
}
.tab ul li a:hover {
    color: #FFFFFF;
}

