/* PERUNSPACE STYLES */

/*
SCTRUCTURE:
- color scheme
- common html styles: body, h1, a, p, etc
- layout styles
- section specific styles
- js specific styles
*/

/*
COLORS
- #fdc16f lightbrown for headers
- #ffae5e brown for links
- #ee0000 red for strong hightlighting
*/


/* ============================================================================
                                COLOR SCHEME
============================================================================ */

body { color: #cccccc; background: #000000; }
#main { background: #252525; }
#content { background: #1a1a1a; }

h1, h2, h3,
.blog h2,
.blog h2 a,
.htabs li a,
.htabs li a:visited,
.htabs span {
    color: #f7b867; /*#fdc36f; /*#FFAE5E;*/
}

.page h2 { color: #ffffff; }

strong { color: #ee0000; }

a, a:visited,
#recentcomments ul li a,
#recentcomments ul li a:visited,
.preplies-count {
    color: #ef9e4e; /*#ffae5e; /*#F59E52;*/
}

#navline a,
#navline a:visited,
.gallery a,
.gallery a:visited,
.frontpage h2 a,
.frontpage h2 a:visited,
ul.htabs span a,
.tab ul li a,
a.next,
a.next:visited,
#pagemenu ul li a,
#pagemenu ul li a:visited,
#sidebar ul li a,
#sidebar ul li a:visited,
#tagcloud a,
#tagcloud a:visited,
#sitelogo a,
#sitelogo a:visited,
#servicelist ul li a,
#servicelist ul li a:visited {
    color: #cccccc;
}

.postinfo a,
.postinfo a:visited,
.eventlist ul li ul li a,
.eventlist ul li ul li a:visited {
    color: #777777;
}

a, a:visited,
#recentcomments ul li a,
#recentcomments ul li a:visited,
.preplies-count {
    color: #ef9e4e; /*#ffae5e; /*#F59E52;*/
}

a:hover,
a.next:hover,
#sidebar ul li a:hover,
.tab ul li a:hover,
#tagcloud a:hover,
#recentcomments a:hover,
#servicelist ul li a:hover {
    color: #63c206; /*color: #ffffff; /*color: #FFCB5C; */
}

.infobar a:hover,
.gallery a:hover,
.frontpage h2 a:hover,
ul.htabs span a:hover,
#pagemenu ul li a:hover,
.postinfo a:hover,
.eventlist ul li ul li a:hover {
    color: #ffffff;
}

.htabs li a.htab-na, .htabs li a.htab-na:visited { color: #666666; }
.htabs li a.htab-na:hover { color: #ffffff; }

.commentinfo, .ptype, .preplies, .postinfo, #copyright, #author { color: #666666; }
.edate-hl { color: #ff0000; }
.pdate { color: #cc0000; }


/* ============================================================================
                                 COMMON STYLES
============================================================================ */

html {
    height: 100%;
    background: #000000;
}

body {
    height: 100%;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    text-align: left;
    line-height: 1.2;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 170%;
    font-weight: normal;
    text-align: left;
    margin-bottom: 8px;
    /*background: #292929; border: 1px solid #666;*/
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 150%;
    font-weight: normal;
    text-align: left;
    margin-bottom: 8px;
}

h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 150%;
    font-weight: normal;
    text-align: left;
    margin-bottom: 8px;
}

h1, h2, h3,
.blog h2 {
    margin-top: 0px;
    padding-top: 0px;
}

h2, h3 {
    padding-top: 8px;
}

a, a:visited {
    text-decoration: underline;    
}

a:hover, a:active {
    text-decoration: none;
}

p {
    text-align: left;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-bottom: 6px;
    padding-left: 18px;
    margin-top: 0px;
}

strong {
    font-weight: normal;
}

blockquote {
    font-style: italic;
    margin-left: 8px;
}

input, textarea {
    background-color: #666666;
    color: black;
}

.clearfix {
    clear: both;
}

/* =========================== ESCPECIALLY STYLES ========================== */

#id_comment {
    width: 98%;
    height: 54px;
}

#pagination {
    margin-bottom: 20px;
}

div.img {
    clear: both;
    text-align: left;
    margin: 12px 0px 8px 0px;
}

div.img img {
    display: inline;
    margin-right: 1px;
    border: 1px solid #999;
}

.postcontent img {
    margin-right: 1px;
    border: 1px solid #999;
}

.subfont {
    font-size: 75%;
}

#commentform {
    margin-top: 15px;
}

#commentform p, .postcomments p {
    margin-top: 0px;
}


/* ============================================================================
                                 HEADER LAYOUT
============================================================================ */

#header {
    clear: both;
    position: relative;
    margin: 6px auto 0px;
    height: 120px;
    background-image:url(/static/design/decor/bg-body.png); 
}

#sitelogo {
    position: absolute;
    z-index: 20;
    top: 0px;
    left: 4px;
    width: 100px;
    height: 100px;
    margin: 4px;
}

#sitelogo img {
    width: 110px;
}

#sitetitle {
    color: white;
    font: italic 40px Times New Roman;
    left: 130px;
    padding-bottom: 9px;
    position: absolute;
    top: 6px;
    z-index: 35;
}
#sitesubtitle {
    color: #bbb;
    font: italic 16px Times New Roman;
    left: 140px;
    position: absolute;
    top: 52px;
    z-index: 35;
}
#siteslogan {
    color: #CCCCCC;
    font: italic 18px Times New Roman;
    left: 522px;
    position: absolute;
    top: 36px;
    z-index: 35;
}

#sitepicture {
    position: absolute;
    z-index: 30;
    top: 2px;
    right: 3px;
    height: 116px;
    margin: 4px;
    /*background: url(/static/design/logo/psloboda-view.gif);*/
}

#sitepicture img {
    height:106px; /* TEMP */
}

/* ======================= CASCADE SITE MENU ===================== */

#sitemenu {
    position: absolute;
    bottom: 12px;
    left: 116px;
    text-align: center;
}

#sitemenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#sitemenu ul li {
    display: block;
    position: relative;
    float: left;
}
#sitemenu ul li ul {
    display: none;
    margin: 0;
    padding: 0;
}
#sitemenu ul li a {
    display: block;
    margin-left: 10px;
    padding: 0px 8px 2px 8px;
    font: 13px Verdana;
    font-weight: bold;
    color: #CCCCCC;
    text-align: left;
    text-decoration: none;
    background: #580202;
    border: 1px solid #755;
    border-radius: 4px;
    white-space: nowrap;
}
#sitemenu ul li ul li a {
  border-top: 2px solid #380202;
  font-weight: normal;
}
#sitemenu ul li a:hover { background: #580202; color:#ffffff; }

#sitemenu ul li:hover ul { display: block; position: absolute; }
#sitemenu ul li:hover li { float: none; }
#sitemenu ul li:hover a { background: #580202; }
#sitemenu ul li:hover li a:hover { background: #580202; }


/* ======================= NAVIGATION SUBLINE ===================== */

#navline {
    clear: both;
    height: 16px;
    padding: 3px;
    padding-top: 4px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    text-align: left;
    background-image: url(/static/design/decor/infobar-bg.gif);
}

#breadcrumbs {
    padding-left: 14px;
    float: left;
}

#profile {
    padding-right: 4px;
    float: right;
}


/* ============================================================================
                                 LAYOUT - MAIN
============================================================================ */

#main {

}

/* ========================== CONTENT ======================== */

#content {
    float: left;
    width: 700px;
    line-height: 1.35;
    min-height: 520px;
    margin: 0;
    padding: 14px;
    padding-top: 10px;
    /*overflow: auto;*/
}

form .control-group {
    margin-bottom: 8px;
}

form .controls {
    margin-top: 2px;
}

form .help-inline {
    color: #666;
}

/* ========================== SIDEBAR ======================== */

#sidebar {
    float: right;
    width: 216px;
    padding: 8px;
    padding-top: 10px;
}

#sidebar p {
    margin-top: 0px;
}

#sidebar h3 {
    margin-bottom: 4px;
    padding-top: 0px;
    font-size: 140%;
}

#sidebar ul {
    list-style-type: disc;
}

#sidebar ul li a, #sidebar ul li a:visited {
    text-decoration: none;
}

.listentries {
    padding-top: 4px;
    padding-left: 4px;
}

.listentries li {
    margin-bottom: 4px;
}


/* ============================================================================
                             SECTION SPECIFIC STYLES
============================================================================ */

/* ========================== FRONT PAGE =========================== */

#content.frontpage {
    width: 932px;
}

.eventlist {
    line-height: 1.2;
}

.frontpage h2 {
    margin-bottom: 4px;
    padding-top: 0px;
}

.frontpage h2 a, .frontpage h2 a:visited, ul.htabs span a {
    text-decoration: none;
}

.frontblock {
    min-height: 144px;
    padding: 8px;
    margin-bottom: 13px;
    border-radius: 6px;
    border: 1px solid #393939;
}

.frontblock-left {
    float: left;
    margin-right: 10px;
    width: 485px;
}

.frontblock-right {
    float: right;
    width: 400px;
}

#about-text {
    font: italic 18px Times New Roman;
    line-height:1.2;
    text-align: justify;
}

.tab .entry-img {
    float: left;
    padding: 2px;
    padding-right: 6px;
}

.tab .entry-footer {
    font-size: 75%; color: #777; margin-top: 3px;
}

.tab .entry-date {
    color: #c00;
}

/* ======================== FRONTPAGE SERVICES ======================= */

#servicelist > ul > li {
    margin-bottom: 3px;
    /*background: #232323;*/
    padding: 2px;
}

#servicelist ul li a {
    text-decoration: none;
}

#servicelist > ul {
    list-style-type: none;
    padding: 0px;
}

#servicelist > ul li ul {
    list-style-type: disc;
    padding-left: 14px;
    margin-top: 4px;
    margin-bottom: 6px;
}

#servicelist > ul li ul li {
    color:#777;
    margin-bottom: 1px;
}


#presentlist ul {
    list-style: none;
    padding: 0; margin: 0;
}

#presentlist ul li {
    list-style: none;
    margin-bottom: 3px;
}

#presentlist {
    margin-top: 10px;
}

#presentlist ul {
    margin-top: 7px;
}

#presentlist .pl-img {
    float: left;
}

#presentlist .pl-img img {
    opacity: 0.78; margin-right: 4px;
}

#presentlist .pl-title {
    float: left; margin-right: 10px; padding-top: 8px;
}

.sl-imglabel {
    float: left; margin-right: 10px;
    padding: 1px;
}

.sl-sublist {
    float: left;
}

#teamlist ul li a {
    text-decoration: none;
}

.frontblock .entry-description {
    margin-top: 4px;
    color: #999;
}

/* ========================= FRONTPAGE TABS ======================== */

.htabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.htabs li {
    display: inline;
    margin-top: 2px;
    padding: 3px 2px 0 0;
    overflow: hidden;
}
.htabs li a {
    padding: 2px;
    font-family: Georgia;
    font-size: 18px;
    text-decoration: none;
}

.htabs li a:hover, .htabs span a:hover {
    text-decoration: none;
}

.htabs span {
    padding: 2px;
    font-size: 18px;
    font-family: Georgia;
    text-decoration: none;
}

.htabs span a {
    text-decoration: none;
}

.tabs {
    margin-top: 2px;
    overflow: hidden;
}
.tabs ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.tab ul li {
    clear: both;
    display: block;
    margin: 2px;
    margin-bottom: 3px;
    padding: 2px;
    background: #232323;
}
.tab ul li a {
    text-decoration: none;
}

/* ========================== PAGES =========================== */

.page h1, .page h2 {
    text-align: center;
}

.page h2 {
    margin-bottom: 8px;
}

.page h3 a {
    text-decoration: none;
}

.page .img { text-align: center; }

/* =========================== BLOG ============================ */

.blog h1, h1 {
    font-size: 24px;
    padding-bottom: 2px;
    border-bottom: 1px solid #393939;
}

.blog h2 {
    font-size: 24px;
    text-align: left;
    /*border: 1px solid #666;*/
    /*background: #252525;*/
    padding-bottom: 2px;
    border-bottom: 1px solid #393939;
}

.postcontent {
    margin-left: 15px; 
}

.blog h2 a {
    text-decoration: none;
}

.blog #related, .blog #comments {
    padding-bottom: 2px;
    border-bottom: 1px solid #393939;
}

.postcontent, .postrelated, .postcomments {
    margin-bottom: 20px;
}

.postcontent h3 {
    margin-top: 15px;
}

#postlist > ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

.postinfo {
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 80%;
    text-align: left;
}

.postfooter {
    margin-top: 12px;
    margin-bottom: 30px;
    text-align: left;
}

a.next, a.next:visited {
    border:1px solid #333;
    background: #222;
    color: #63c206;
    text-decoration: none;
    padding:2px;
}

a.next:hover {
    text-decoration: none;
}

.collapsed {
    display: none;
}
.expanded {
    display: block;
}

#featured_list ul li {
    margin-bottom: 4px;
}

/* ========================== SHOP ========================== */

#product-list {
    list-style-type: none;
}
#product-list li {
    float: left;
    padding: 10px;
    padding-right: 20px;
    width: 180px;
}

#cart-table tr td {
    padding: 2px;
}

/* ======================== PAGINATOR ======================== */

   .pager {
      padding-left: 10px;
      }
   .pager .page a {
      border: 1px solid #555555;
      margin-left: 1px;
      margin-right: 1px;
      padding-left: 4px;
      padding-right: 4px;
      text-decoration: none;
      background: #333333;
      color: #cccccc;
      }
   .pager .page a:hover {
      background: #111;
      color: #fff;
      }
   .pager .current {
      border: 2px solid #333333;
      margin-left: 2px;
      margin-right: 2px;
      padding-left: 4px;
      padding-right: 4px;
      }


/* ========================= GALLERY ======================== */

#album-title {
    font: 14px bold Verdana;
}

#recentcomments ul li {
   margin-bottom: 6px;
}

/* ========================== EVENTS ========================== */

.eventlist ul {
    min-height: 10px;    
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.edate, .edate-hl {
    font-style: italic;
}

.eventlist ul li ul {
    font-size: 75%;
    margin-left: 110px; 
    margin-top: -2px;
    margin-bottom: 2px;
}

.eventlist ul li ul li {
    display: inline;
    margin-right: 5px;
}

.eventlist ul li ul li a, .eventlist ul li ul li a:visited {
    text-decoration:none;
}


/* ============================= WIKI =========================== */

#wiki-links {
    margin-bottom: 6px;
}

.wiki-textarea {
    width:100%;
    height: 300px;
    color: #ddd;
}

pre {
    border: 1px solid #666;
    margin-left: 30px;
    margin-bottom: 6px;
    padding: 2px;
}

.wiki h2 {
    padding-top: 10px;
}

.wiki h2, .wiki h3 {
    color: #BCBCBC;
}

.field-label {
    margin-bottom: 2px;
}

.fieldWrapper {
    margin-bottom: 8px;
}


/* ============================ FOOTER ========================== */

#splitline {
    clear: both;
    height: 16px;
    margin: 0px 0;
    padding: 3px;
    border: 1px solid #444;
    text-align: left;
    background-image: url(/static/design/decor/infobar-bg.gif);
}

#copyright {
    float: left;
}

#author {
    float: right;
}

/* ========================== SUBFOOTER ======================== */

#subfooter { background: #111; padding: 10px; margin-bottom: 10px; }
#subfooter a, #subfooter a:visited { color: #aaa; text-decoration: none; }
#subfooter a:hover { text-decoration: underline; }

#campfire { float: left; padding-right: 30px; margin-left: -4px; }

#footermenu > ul { list-style-type: none; margin: 0; padding: 0;  font-size: 75%; margin-top: 20px; }
#footermenu > ul > li { float:left; padding: 0px; margin-right: 30px; }
#footermenu > ul > li ul { list-style-type: none; display: inline; margin: 0; padding: 0; text-align: left;}
#footermenu > ul > li > ul > li:first-child { font-size: 140%; font-family: Georiga; }
#footermenu > ul > li > ul > li:first-child a { color: #f7b867; }

#stats { float: right; padding: 5px 25px 0 0; margin-top: -10px; }
#stats ul { list-style-type: none; margin: 0; padding: 0; }

