html {
    height: 100%;
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}

#sitemenu ul li ul {
    display: none;
}

#sitelogo {
    padding: 2px;
    display: inline;
}

#sitetitle {
    display: inline;
    font-size: 140%;
    font-weight: bold;
}

#siteslogan {
    padding-left: 24px;
    font-style: italic;
}

ul.htabs {
    list-style-type: none;
    margin: 0; padding: 0;
}

ul.htabs li, ul.htabs span {
    margin: 0; padding: 0;
    display: inline;
    font-size: 150%;
    font-weight: bold;
}
