/* ========================== MAIN =========================== */

html {
    height: 100%;
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

body {
    max-width: 640px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-top: 4px;
    text-align: left;
}

.clearfix {
    clear: both;
}

/* ========================= HEADER ========================= */

#sitelogo {
    display: inline;
}

#sitetitle {
    display: inline;
    font-size: 140%;
    font-weight: bold;
}

#siteslogan {
    padding-left: 24px;
    font-style: italic;
}

#sitepicture {
    display: none;
}

#sitemenu ul li ul {
    display: none;
}

#profile {
    margin-bottom: 10px;
}

/* ====================== FRONT TABS ====================== */

ul.htabs {
    list-style-type: none;
    margin: 0; padding: 0;
}

ul.htabs li, ul.htabs span {
    margin: 0; padding: 0;
    display: inline;
    font-size: 150%;
    font-weight: bold;
}

.tab {
    margin-bottom: 10px;
}

.tab ul li {
    margin-bottom: 2px;
}

.tab .entry-img {
    float: left;
    margin-right: 4px;
}

.eventlist ul li ul li {
    display: inline;
}

#servicelist .sl-imglabel {
    float: left;
    margin-right: 4px;
}

#servicelist .sl-sublist {
    float: left;
}

#servicelist ul li {
    margin-bottom: 2px;
}

#presentlist .pl-img {
    float: left;
    margin-right: 4px;
}


/* ======================== FOOTER ======================== */
#campfire {
    display: none;
}

#footermenu {
    display: none;
}
