{% extends "mezawiki/wiki_page_list.html" %}
{% load i18n mezzanine_tags mezawiki_tags keyword_tags disqus_tags %}

{% block title %}{% trans "Recent changes" %}{% endblock %}

{% block breadcrumbs %}
    <span class="divider">-</span>
    <a href="{% url wiki_index %}">Академия</a>
    <span class="divider">-</span>
    {% trans "Recent changes" %}
{% endblock %}

{% block content %}

<h1>{% trans "Recent changes" %}</h1>

<ul style="unstyled">
{% for revision in wiki_revisions%}
<li>
    {{ revision.date_modified }} - <a href="{{ revision.get_absolute_url }}">{{ revision.page.title }}</a> ({{ revision.user }}{% if revision.description %}, {{ revision.description }}{% endif %})
</li>
{% endfor %}
</ul>

{% endblock %}

{% block sidebar %}
{% include "mezawiki/includes/filter_panel.html" %}
{% endblock %}
