{% extends "base.html" %}

{% load fevents_tags %}

{% block title %}Хроники клуба «Стрелы Перуна» | Перунова Слобода{% endblock %}

{% block breadcrumbs %}{% if category %} - <a href="/events/">Хроники</a> - {{ category }}{% else %} - Хроники{% endif %}{% endblock %}

{% block sidebar %}
{% category_menu request %}
{% endblock %}

{% block contentclass %}events{% endblock %}
{% block content %}

{% if not category %}<h1>Хроники</h1>{% endif %}
{% if category %}<h1>{{ category }}</h1>{% endif %}

<div class="eventlist">
<ul>
    {% for event1 in object_list %}<li><span class="edate-hl">{{ event1.date|date:"Y.m.d" }}</span> - {{ event1.title }}
    <ul>
        {% for erelation in event1.eventrelation_set.all %}
             <li><a href="{{ erelation.content_object.get_absolute_url }}">{% if erelation.content_object.type %}{{ erelation.content_object.type }}{% else %}{{ erelation.content_type }}{% endif %}</a></li>
        {% endfor %}
    </ul></li>
    {% endfor %}
</ul></div>
{% endblock %}
