{% extends "base.html" %}

{% load fevents_tags %}

{% block title %}События | Перунова Слобода{% endblock %}

{% block breadcrumbs %}{% if category %} - <a href="/events/">События</a> - {{ category }}{% else %} - События{% endif %}{% endblock %}

{% block sidebar %}
{% category_menu request %}
{% endblock %}


{% block content %}

{% if not category %}<h3>События</h3>{% endif %}
{% if category %}<h3>{{ category }}</h3>{% endif %}

<div class="eventlist">
<ul>
    {% for event1 in object_list %}<li><span class="fire"><i>{{ event1.date|date:"Y.m.d" }}</i></span> - {{ event1.title }}
    <ul>
        {% for post in event1.post_set.all %}<li><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.type.title }}</a></li>{% endfor %}
        {% for album in event1.album_set.all %}<li><a href="{{ album.get_absolute_url }}">Фотоальбом</a></li>{% endfor %}
    </ul></li>
    {% endfor %}
</ul></div>
{% endblock %}
