{% extends "base.html" %}

{% load seo_tags %}
{% load thumbnail %}

{% block title %}{% seo title for object as seo_title %}{% if seo_title %}{{ seo_title }}{% else %}{{ object.title }}{% endif %} | Перунова Слобода{% endblock %}

{% block description %}{% seo description for object %}{% endblock %}

{% block keywords %}{% seo keywords for object %}{% endblock %}

{% block breadcrumbs %} - <a href="{% url product_list %}">Мастерская</a> - Товар{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>

<div class="product-image"><img src="{% thumbnail object.image 400x400 %}" /></div>

<div class="product-description">
<p>{{ object.short_description }}</p>

<p>Подробности:</p>

<p>{{ object.description }}</p>

</div>

{% endblock %}
            
