{% extends "base.html" %}
{% load mezzanine_tags keyword_tags pages_tags %}

{% block title %}
{% block meta_title %}{{ page.title }}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}{% endblock %}
{% endblock title %}

{% block keywords %}
{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}
{% endblock %}

{% block description %}
{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}
{% endblock %}

{% block breadcrumbs %}
{% page_menu "pages/menus/breadcrumb.html" %}
{% endblock %}

{% block content %}

<h1>
{% block content_title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}
</h1>

{% block content_main %}
{% endblock %}

{% endblock content %}

{% block sidebar %}

<h3>Страницы</h3>
    <div class="panel tree">{% page_menu "pages/menus/tree.html" %}</div>

{% endblock %}
