{% extends "fgallery/base_gallery.html" %}

{% load markup %}
{% load comments %}
{% load thumbnail %}

{% block title %}{{ album.title }} | Фотоальбом клуба «Стрелы Перуна»{% endblock %}

{% block breadcrumbs %} - <a href="/gallery/">Галерея</a> - <a href="{% url gallery_album album.id %}">Фотоальбом</a> - Редактирование{% endblock %}

{% block content %}

<form method="post" action="" enctype="multipart/form-data">
    {{ formset.management_form }}
        {% for form in formset.forms %}
        <table>
        {{ form }}
        <tr><td><br /></td></tr>
        </table>
        {% endfor %}
        <input type="submit" value="Save" />
</form>

{% endblock %}
