{% extends "fgallery/base_gallery.html" %}

{% load thumbnail %}
{% load tagging_tags %}

{% block title %}{{ tag }} | Фотометки клуба «Стрелы Перуна»{% endblock %}

{% block breadcrumbs %} - <a href="/gallery/">Галерея</a> - <a href="/gallery/tags/">Фотометки</a> - {{ tag }}{% endblock %}

{% block content %}
<h3>Фотографии с меткой: {{ tag }}</h3>

<table class=noborder>
    {% for photo1 in object_list %}{% if forloop.first %}<tr>{% endif %}
    <td width=150 height=120 align=center style="padding-bottom:4px"><a href="{% url gallery_photo photo1.album.id photo1.id %}"><img src="{% thumbnail photo1.image 140x105 %}"/></a><br>
    {% if forloop.last %}</tr>{% else %}{% if forloop.counter|divisibleby:"4" %}</tr><tr>{% endif %}{% endif %}
    {% endfor %}
</table>

{% endblock %}
