{% extends "base.html" %}
{% load i18n mezzanine_tags mezawiki_tags keyword_tags disqus_tags %}

{% block title %}{% if wiki_page %}{{ wiki_page.title }}{% else %}{% trans "Wiki" %}{% endif %}{% endblock %}

{% block keywords %}{% metablock %}
{% keywords_for wiki_page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block description %}{% metablock %}
{{ wiki_page.description }}
{% endmetablock %}{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="{% url home %}">{% trans "Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="{% url wiki_index %}">{{ page.richtextpage.title }}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="{% url wiki_page_detail wiki_page.slug %}">{{ wiki_page.title }}</a>
    <span class="divider">/</span>
</li>
<li class="active">{% trans "Viewing history" %}</li>
{% endblock %}

{% block content %}
<h1>
{% if wiki_page %}
{{ wiki_page.title }}
{% else %}
{% trans "Wiki" %}
{% endif %}
</h1>

<div id="wiki-links">
[<a href="{{ wiki_page.get_absolute_url }}">{% trans "View Page" %}</a>]
</div>

<ul style="unstyled">
{% for revision in revisions %}
<li>
    <a href="{{ revision.get_absolute_url }}">{{ revision.date_modified }}</a> - {{ revision.user }}
</li>
{% endfor %}
</ul>

{% endblock %}

{% block sidebar %}
{% include "mezawiki/includes/filter_panel.html" %}
{% endblock %}
