{% extends PYBB_TEMPLATE|default:"base.html" %}
{% load i18n pybb_tags %}

{% block title %}{{ PYBB_DEFAULT_TITLE }}{% endblock %}

{% block extrahead %}
{{ block.super }}
{% block extra_head %}
    {{ block.super }}
    <!-- Feeds -->
    <link rel="alternate" type="application/atom+xml" href="{% url pybb:feed_posts %}" title="{% trans "Latest posts on forum" %}" >
    <link rel="alternate" type="application/atom+xml" href="{% url pybb:feed_topics %}" title="{% trans "Latest topics on forum" %}" >

    <link rel="stylesheet" href="{{ STATIC_URL }}pybb/posts.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pybb/forum.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pybb/visual.css" type="text/css" />
{% endblock %}
{% endblock %}

{% block breadcrumbs %}
{% block breadcrumb %}
    {% include "pybb/breadcrumb.html" %}
{% endblock %}
{% endblock %}

{% block content %}{% endblock content %}

