{% extends 'base.html' %}

{% load latest_content thumbnail cart_tags mptt_tags %}

{% block title %}Мастерская | Стрелы Перуна{% endblock %}
{% block description %}Ручная работа наших мастеров.{% endblock %}

{% block extra_head %}

{% endblock %}


{% block breadcrumbs %}{{ block.super }} - <a href="{% url shop_index %}">Мастерская</a>
{% endblock %}

    {% block content %}

<h2>Последние поступления</h2>
{% get_latest fshop.Product 5 as last_products %}
<ul>
{% for object in last_products %}
<li>

<h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2><br />

<img src="{% thumbnail object.get_cover_image 160x160 %}" /><br />

<p><span class="description">{{ object.short_description }}</p>

<a class="button" href="{{ object.get_absolute_url }}">Подробнее</a> <a class="button red" href="{% url cart_add object.id 1 %}">Купить</a>


</li>
{% endfor %}
</ul>
    {% endblock %}


{% block sidebar %}

    <h3>Корзина</h3>
    <ul>{% get_cart as cart %}
        <li>Товары: {{ cart.count }}</li>
        <li>Сумма: {{ cart.summary }} р</li>
        <p><a class="button orange" href="{% url cart_detail %}">Оформить заказ</a></p>
    </ul>

    <h3>Каталог</h3>
    {% full_tree_for_model fshop.Category as nodes %}
    <ul>
    {% recursetree nodes %}
        <li>
            <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
    </ul>



{% endblock %}
