{% extends "fblog/base_blog.html" %}

{% block title %}{% if entry %}{{ entry.title }}{% else %}Новая заметка{% endif %} | {{ block.super }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/admin/jsi18n/"></script> 
    {{ form.media }}
{% endblock %}

{% block breadcrumbs %} - <a href="{% url blog_index %}">Дневник</a> - {% if entry %}<a href="{% url blog_archive_year entry.date_publish.year %}">{{ entry.date_publish.year }}</a> - <a href="{% url blog_archive_month entry.date_publish.year entry.date_publish|date:"m" %}">{{ entry.date_publish|date:"F" }}</a> - <a href="{{ entry.get_absolute_url }}">Заметка</a> - Редактирование{% else %}Новая заметка{% endif %}{% endblock %}

{% block content %}
<h1>{% if entry %}{{ entry.title }}{% else %}Новая заметка{% endif %}</h1>

<form action="" method="post">{% csrf_token %}
{{ form.non_field_errors }}
    {% for field in form %}
        <div class="fieldWrapper">
            <div class="field-errors">{{ field.errors }}</div>
            <div class="field-label">{{ field.label_tag }}</div>
            <div class="field-core">{{ field }}</div>
        </div>
    {% endfor %}
<input type="submit" value="Save" />
</form>

{% endblock %}
