{% extends "fgallery/base_gallery.html" %}

{% load tagging_tags %}

{% block title %}Фотометки клуба «Стрелы Перуна» | Перунова Слобода{% endblock %}

{% block breadcrumbs %} - <a href="/gallery/">Галерея</a> - Фотометки{% endblock %}

{% block content %}{% tags_for_model fgallery.Photo as tags with counts %}
    <h3>Метки фотографий</h3>
    <div id="list">
    <ul>
    {% for tag in tags %}
        <li><a href="{% url gallery_tag tag|urlencode %}" style="font-size: 1.{{ tag.font_size }}em">{{ tag }}</a> ({{ tag.count }})</li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
