{% extends "base.html" %}

{% load ftrainer_tags i18n %}

{% block title %}Виртуальный тренер клуба «Стрелы Перуна»{% endblock %}

{% block breadcrumbs %} - {% trans "Trainer" %}{% endblock %}

{% block sidebar %}
<h3>Тренер</h3>
<ul>
<li><a href="{% url trainer_index %}">{% trans "All exercises" %}</a></li>
<li><a href="{% url trainer_exercise_drafts %}">{% trans "Drafts" %}</a></li>
<li><a href="{% url trainer_exercise_add %}">{% trans "Add an exercise" %}</a></li>
</ul>

<h3>{% trans "Categories" %}</h3>
{% parts_menu %}

<h3>{% trans "Skills" %}</h3>
{% skills_menu %}

{% endblock %}

{% block contentclass %}trainer{% endblock %}

