{% load pages_tags mezzanine_tags %}

<div id="sitelogo"><a href="/">
<img src="{{ STATIC_URL }}{% if request.subdomain == 'm' %}design/favicon.ico{% else %}design/logo/strely-logo2.gif{% endif %}" alt="{{ settings.SITE_TITLE }}" />
</a></div>

<div id="sitetitle">{{ settings.SITE_TITLE }}</div>
<div id="sitesubtitle">{{ settings.SITE_TAGLINE }}</div>
<div id="siteslogan">{{ settings.SITE_SLOGAN }}</div>

<div id="sitepicture"><img src="{{ STATIC_URL }}design/logo/psloboda-view.gif" /></div>

<div id="sitemenu">
{% page_menu "pages/menus/dropdown.html" %}
</div><!-- /#sitemenu -->

