{% load pages_tags mezzanine_tags %}

<div id="splitline">
    <div id="copyright">(c) Стрелы Перуна, 2010-2012{% if request.subdomain == "m" %}, мобильная версия сайта, <a href="http://{{ request.domain }}">полная версия</a>{% endif %}</div>
    <div id="author">дизайн и разработка: Сокол, 2010-2012</div>
    <div class="clearfix"></div>
</div><!-- /.infobar -->

<div id="subfooter">

<div id="campfire"><img src="{{ STATIC_URL }}design/logo/campfire.png" /></div>

<div id="footermenu">
    <ul>
        <li>
        <ul>
        <li id="fm-resources"><a href="/">Главная</a></li>
        <li><a href="/blog/">Дневник</a></li>
        <li><a href="/events/">Хроники</a></li>
        <li><a href="/gallery/">Галерея</a></li>
        </li>
        </ul>
    </ul>
    {% page_menu "pages/menus/footer.html" %}
    <ul>
        <li>
        <ul>
        <li id="fm-community">Сообщество</li>
        <li><a href="http://vkontakte.ru/perunspace">Мы Вконтакте</a></li>
        <li><a href="/links/">Ссылки</a></li>
        </li>
        </ul>
    </ul>
    <ul>
        <li>
        <ul>
        <li id="fm-contacts">Контакты</li>
        <li><a href="/contacts/">Форма обратной связи</a></li>
        <li>Email: contact@perunspace.ru</li>
        </ul>
        </li>
    </ul>
</div><!-- /#footermenu -->

<div id="stats">
<ul>
{% if request.subdomain == "m" %}<li>{% include "stat_waplog.html" %}</li>{% else %}
<li>{% include "stat_liveinternet.html" %}</li>
{% endif %}
</ul>
{% include "stat_google.html" %}
{% include "stat_yandex.html" %}
</div><!-- /#stats -->

<div class="clearfix"></div>

</div><!-- /#subfooter -->

