{% load mezzanine_tags compress group_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>

<title>{% block title %}{% endblock %}</title>

<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="{{ STATIC_URL }}design/favicon.ico" type="image/x-icon" />
<link rel="icon" href="{{ STATIC_URL }}design/favicon.ico" type="image/x-icon" />

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" type="text/css" />

<link rel="stylesheet" href="{% if request.subdomain == "m" %}{{ STATIC_URL }}design/css/base_mobile.css{% else %}{{ STATIC_URL }}design/css/base.css{% endif %}" type="text/css" />
{% endcompress %}

<meta name="description" content="{% block description %}{% endblock %}"/>

<meta name="keywords" content="{% block keywords %}{% endblock %}" />

{% block extrahead %}
{% if request.subdomain != 'm' %}<script src="{{ STATIC_URL }}mezzanine/js/jquery-1.7.1.min.js"></script>{% endif %}

{% endblock %}

</head>

<body>

<div id="header">
{% include "base_header.html" %}
</div><!-- /#header -->

<div id="navline">
    <div id="profile">
        {% if not user.is_authenticated %}<a href="/accounts/login/?next=/">Войти</a>{% endif %}
        {% if user.is_staff %}{% if request.subdomain == 'm' %}<a href="http://{{ request.domain }}{{ request.path }}">Оригинал</a>{% else %}<a href="http://m.{{ request.domain }}{{ request.path }}">Моби</a>{% endif %} <a href="http://mail.perunspace.ru">Почта</a> <a href="{% url admin:index %}">Админка</a>{% endif %}
        {% if user|in_group:"ФорумДвижения" %}<a href="/forum/">Форум</a>{% endif %}
        {% if user.is_authenticated %}{% if perms.mezzanine_wiki.view_wikipage %}<a href="/wiki/">Академия</a>{% endif %} <a href="{% url profiles_profile_detail user %}">Профиль</a> <a href="/accounts/logout/?next=/">Выйти</a> ({{ user.username }}){% endif %}
    </div>
    <div id="breadcrumbs"><a href="/">Главная</a>{% block breadcrumbs %}{% endblock %}</div>
    <div class="clearfix"></div>
</div><!-- /#infobar personal -->

<div id="main">{% block main %}

<div id="content" class="{% block contentclass %}{% endblock %}">
{% block content %}{% endblock %}
</div><!-- /#content -->

<div id="sidebar">
{% block sidebar %}{% endblock %}
</div><!-- /#sidebar -->

<div class="clearfix"></div>
{% endblock %}</div><!-- /#main -->

<div id="footer">
{% include "base_footer.html" %}
</div><!-- /#footer -->

{% editable_loader %}

</body>
</html>

