{% extends "base.html" %}
{% load markup %}
{% load comments %}

{% load fblog_tags %}
{% load inlines %}

{% block title %}{% if newsres.seo_title %}{{ newsres.seo_title }}{% else %}{{ newsres.title }}{% endif %} | Клуб «Стрелы Перуна»{% endblock %}

{% block description %}{% if newsres.meta_description %}{{ newsres.meta_description }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block keywords %}{% if newsres.meta_keywords %}{{ newsres.meta_keywords }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block sidebar %}
{% category_menu request %}
{% archive_menu request %}
{% endblock %}

{% block breadcrumbs %} - <a href="{% url blog %}">Дневник</a> - <a href="{{ newsres.type.get_absolute_url }}">{{ newsres.type.title_plural }}</a> / <a href="{% url blog_archive_year newsres.date.year %}">{{ newsres.date.year }}</a> - <a href="{% url blog_archive_month newsres.date.year newsres.date|date:"m" %}">{{ newsres.date|date:"F" }}</a> - Заметка{% endblock %}

{% block content %}
<h1>{{ newsres.title }}</h1>

<div class="postinfo">{{ newsres.date|date:"j M Y H:m" }} | раздел: <a href="{{ newsres.type.get_absolute_url }}">{{ newsres.type.title_plural|lower }}</a> | просмотров: {{ newsres.view_count }} | {% get_comment_count for newsres as comment_count %}<a href="{{ newsres.get_absolute_url }}#comments">ответов: {{ comment_count }}</a></div>

<div class="postcontent">{{ newsres.content|render_inlines|markdown }}</div>
            
<hr>

<h3 id="comments">Комментарии:</h3>

{% get_comment_list for newsres as allcomments %}{% if allcomments|length = 0 %}
0 комментариев. Напишите первый комментарий к этой заметке!
{% endif %}
                
                {% for acomment in allcomments %}
                    <p><b>{{ acomment.user_name }}</b>, {{ acomment.submit_date }}:<br>{{ acomment.comment }}</p>
                {% endfor %}
                {% if newsres.enable_comments %}
                <h3>Ваш комментарий:</h3>
                {% else %}
                <h3>Комментирование отключено.</h3>
                {% endif %}
                {% if newsres.enable_comments and user.is_authenticated %}
                {% render_comment_form for newsres %}
                {% endif %}
                {% if newsres.enable_comments and not user.is_authenticated %}
                <p><a href="/accounts/login/?next={{ request.path }}">Чтобы оставить комментарий, необходимой войти на сайт</a>
                {% endif %}
{% endblock %}
            
