{% extends "fblog/base_blog.html" %}

{% load markup %}
{% load comments %}
{% load inlines %}

{% block content %}

<ul>
{% for news in object_list %}
<li><h2><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h2>

<div class="postinfo">{{ news.date|date:"j M Y H:m" }} | раздел: <a href="{{ news.type.get_absolute_url }}">{{ news.type.title_plural|lower }}</a> | просмотров: {{ news.view_count }}</div>

<div class="postcontent">
{{ news.preview_or_content|render_inlines|markdown }}
</div>

<div class="postfooter">
{% if news.preview %}<a class="more" href="{{ news.get_absolute_url }}">читать дальше</a> | {% endif %}{% get_comment_count for news as comment_count %}<a href="{{ news.get_absolute_url }}#comments">ответов: {{ comment_count }}</a>
</div>
</li>
{% endfor %}
</ul>

{% if is_paginated %}
<div id="pagination">Страницы:
    {% if has_previous %}<a href="?page={{ previous }}">позже</a>{% endif %}
    <span class="current">{{ page }}</span>/{{ pages }}
    {% if has_next %}<a href="?page={{ next }}">раньше</a>{% endif %}
</div>{% endif %}
{% endblock %}
