{% extends "base.html" %}
{% load markup %}
{% load comments %}

{% block title %}Перунова Слобода — русская боевая традиция в Марий Эл{% endblock %}

{% block description %}Перунова Слобода — автономное клановое поселение бойцов клуба СГБ «Стрелы Перуна». Краеугольная традиция клана — славяно-горицкая борьба. Наша цель — возрождение и развитие русских боевых традиций.{% endblock %}

{% block keywords %}Перунова Слобода, клановое поселение, Стрелы Перуна, славяно-горицкая борьба, русская боевая традиция, Йошкар-Ола, Марий Эл, Чебоксары, СГБ, клубы СГБ, русская профессиональная драка, рукопашный бой, штурмовой бой, спорт, варвар, выживание{% endblock %}

{% block extrahead %}{% if request.subdomain != 'm' %}<script type="text/javascript" src="/media/design/js/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="/media/design/js/coin-slider.js"></script>
<link rel="stylesheet" href="/media/design/js/coin-slider-styles.css" type="text/css" />
<script type="text/javascript" src="/media/design/js/tabs.js"></script>{% endif %}
{% endblock %}

{% block breadcrumbs %} - Главная{% endblock %}

{% block contentclass %}frontpage{% endblock %}
{% block content %}
    <div class="half">

        <!--<h2>Перунова Слобода — автономное клановое поселение бойцов клуба «Стрелы Перуна»</h2>-->

        <h2>О нас (<a href="/tradition/">подробнее</a>)</h2>

        <div id="about">Перунова Слобода — <strong>автономное клановое поселение</strong> бойцов клуба «Стрелы Перуна». Краеугольная традиция клана — славяно-горицкая борьба. Наша цель — <strong>возрождение и развитие</strong> русских боевых традиций.</div>

    </div><div class="half">

        <h2>События (<a href="{% url events %}">хроники</a>)</h2>
        
        <div class="eventlist">
        <ul>
        {% for event1 in event_list %}
        <li><span{% if not event1.is_past_due %} class="fire"{% endif %}>{{ event1.date|date:"Y.m.d" }}</span> - {{ event1.title }}
            <ul>{% for post in event1.post_set.all %}
                <li><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.type.title }}</a></li>{% endfor %}
                {% for album in event1.album_set.all %}<li><a href="{% url gallery_album album.id %}">Фотоальбом</a></li>{% endfor %}
                {% for video in event1.video_set.all %}<li><a href="{{ video.get_absolute_url }}">Видео</a></li>{% endfor %}
            </ul>
        </li>
        {% endfor %}
        </ul>
        </div>

    </div><div style="clear:both"></div>
    {% if request.subdomain != "m" %}<div class="half">

        <div id='coin-slider' style="margin-top: 4px;">
        <!--<a href="sgb13.jpg" target="_blank"> <span></span> </a>-->

        <img src='/media/design/slideshow/strely1-IMG_0766.jpg' />
        <span>
            <big><b>Славяно-горицкая борьба</b></big><br />
            Русская боевая традиция - <a style="color: #ffffff; text-decoration:underline;" href="/tradition/">подробнее</a>
        </span>
    
        <img src='/media/design/slideshow/strely2-IMG_6732.jpg' />
        <span>
            <big><b>Клуб «Стрелы Перуна»</b></big><br />
            Воины на все времена - <a style="color: #ffffff; text-decoration:underline;" href="/strely/">подробнее</a>
        </span>

        <img src='/media/design/slideshow/strely3-IMG_5198.jpg' />
        <span>
            <big><b>Перунова Слобода</b></big><br />
            Автономное клановое поселение - <a style="color: #ffffff; text-decoration:underline;" href="/sloboda/">подробнее</a>
        </span>

        <img src='/media/design/slideshow/strely4-hardball.jpg' />
        <span>
            <big><b>Лагерь активного отдыха</b></big><br />
            Отдых для настоящих мужчин! - <a style="color: #ffffff; text-decoration:underline;" href="/camp/">подробнее</a>
        </span>
        </div><!-- coin-slider -->

        <script type="text/javascript">
            $(document).ready(function() {
                $('#coin-slider').coinslider({width:460,height:348,delay:5000,links:false,effect:'rain'});
            });
        </script>

    </div>{% endif %}<div class="half">

        <div id="tabwrapper">
        <ul class="htabs">
            <li><a id="new" href="#new">Новое</a></li>
            <li><a id="featured" href="#featured">Интересное</a></li>
            <span>(<a href="/blog/">дневник</a>)</span>
        </ul>
        <div class="tabs">
            <div id="new" class="tab">
            <ul>
                {% for news in news_list %}
                <li>
                    <a href="{{ news.get_absolute_url }}">{{ news.title }}</a> <span class="fright darkfire">{{ news.date|date:"j b" }}</span>
                    <div class="gray subfont">{{ news.type }} <span class="fright">Ответов: {% get_comment_count for news as newscmnts %}<span{% if newscmnts > 0 %} class="gold"{% endif %}>{{ newscmnts }}</span></div>
                </li>
                {% endfor %}
                </ul>
            </div>
            <div id="featured" class="tab">
            <ul>
                {% for news in featured_list %}
                <li>
                    <a href="{{ news.get_absolute_url }}">{{ news.title }}</a> <span class="fright darkfire">{{ news.date|date:"j b Y" }}</span>
                    <div class="gray subfont">{{ news.type }} <span class="fright">Ответов: {% get_comment_count for news as newscmnts %}<span{% if newscmnts > 0 %} class="gold"{% endif %}>{{ newscmnts }}</span></div>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div><!-- tabs -->
        </div><!-- tabwrapper -->

    </div><!-- #/half -->
{% endblock %}

