{% extends "base.html" %}

{% load avatar_tags %}

{% block title %}Профиль {{ profile.user }}{% endblock %}

{% block breadcrumbs %} - <a href="{% url profiles_profile_list %}">Пользователи</a> - Профиль {{ profile.user }}{% endblock %}

{% block content %}
<h1>Просмотр профиля {{ profile.user }} </h1>
 
<p>Аватар (<a href="{% url avatar_change %}">Изменить</a>):</p>
<p>{% avatar user 60 %}</p>

<p>Откуда: {{ profile.location }}</p>

<p>О себе: {{ profile.about }}</p>

{% if request.user == profile.user %}<p><a href="{% url profiles_edit_profile %}">Редактировать профиль</a></p>{% endif %}
 
{% endblock content %}
