{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block title %}Аватар | Профиль {{ user }}{% endblock %}

{% block breadcrumbs %} - <a href="{% url profiles_profile_list %}">Пользователи</a> - <a href="{% url profiles_profile_detail user %}">Профиль {{ user }}</a> - Аватар{% endblock %}

{% block content %}
    <p>Ваше изображение:</p>
    {% avatar user %}
    {% if not avatars %}
        <p>У вас нет изображений для профиля.</p>
    {% else %}
        <form method="POST" action="{% url avatar_change %}">
            <ul>
                {{ primary_avatar_form.as_ul }}
            </ul>
            <p>{% csrf_token %}<input type="submit" value="Использовать по-умолчанию" /></p>
        </form>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url avatar_add %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input type="submit" value="Загрузить выбранное изображение" /></p>
    </form>
{% endblock %}

