{% load thumbnail %}
{% load siteinfo %}

{% if object %}
<div class="img">
<a href="http://{% site %}{{ object.get_absolute_url }}"><img src="http://{% site %}{% if class == 'large' %}{% thumbnail object.image 560x380 %}{% else %}{% thumbnail object.image 280x200 %}{% endif %}" alt="{{ object.title }}" title="{{ object.title }}" class="{{ class }}"/></a>
</div>
{% else %}
<div class="img">
{% for object in object_list %}<a href="http://{% site %}{{ object.get_absolute_url }}"><img src="http://{% site %}{% thumbnail object.image 280x200 %}" alt="{{ object.title  }}" title="{{ object.title }}" class="{{ class }}"/></a>
{% endfor %}</div>
{% endif %}

