{% load thumbnail %}

{% if object %}
<div class="img">
<a href="{{ object.get_absolute_url }}"><img src="{% if class == 'large' %}{% thumbnail object.image 520x360 %}{% else %}{% thumbnail object.image 300x225 %}{% endif %}" alt="{{ object.title }}" title="{{ object.title }}" class="{{ class }}"/></a>
</div>
{% else %}
<div class="img">
{% for object in object_list %}<a href="{{ object.get_absolute_url }}"><img src="{% thumbnail object.image 300x225 %}" alt="{{ object.title  }}" title="{{ object.title }}" class="{{ class }}"/></a>
{% endfor %}</div>
{% endif %}
