{% extends "base.html" %}
{% load markup %}
{% load comments %}
{% load thumbnail %}

{% block title %}

Фотогалерея Перуновой Слободы

{% endblock %}

{% block breadcrumbs %} - Галерея{% endblock %}

{% block content %}


                    <h3>Фотогалерея</h3>

    <p>Альбомов: {{ album_list.count }}
    <table>
    {% for album1 in album_list %}
	{% if album1.is_published %}
	<tr><td><a href="{% url gallery_album album1.id %}"><img src="{% thumbnail album1.get_cover_image 140x140 %}"></a></td>
		<td align=left style="padding-left: 10px;"><a style="text-decoration: none;" href="{% url gallery_album album1.id %}"><b>{{ album1.title }}</b></a><br>(<a style="text-decoration:none;" href="{% url gallery_comments album1.id %}">комментарии к альбому</a>){% if album1.event %}<br>Дата события: {{ album1.event.date|date:"d.m.Y" }}{% endif %} <br><span style="color:#666">Обновлено: {{ album1.date_mod|date:"d.m.Y" }}</span></td></tr>
	{% endif %}

    {% endfor %}
    </table>


{% endblock %}
