{% extends "base.html" %}
{% load markup %}
{% load comments %}
{% load thumbnail %}

{% block title %}

{{ albumres.title }} | Фотогалерея Перуновой Слободы

{% endblock %}

{% block breadcrumbs %}

    - <a href="/gallery/">Галерея</a> - Фотоальбом

{% endblock %}

{% block content %}

                    <h3 style="text-align:center">{{ albumres.title }}</h3>

<p><center><a href="{% url gallery_comments albumres.id %}">Посмотреть все комментарии</a></center>
<p><center>{% if albumres.event.post_set.all %}Есть информация в разделе: <a href="{{ albumres.event.post_set.all.0.get_absolute_url }}">{{ albumres.event.post_set.all.0.type }}</a>{% endif %}</center>
<p>

<table class=noborder align=center>
    {% for photo1 in albumres.photo_set.all %}

    {% if forloop.first %}
        <tr>
    {% endif %}

    {#<td>{{ forloop.counter }} - {{ photo1 }}</td>#}
    <td width=150 height=120 align=center style="padding-bottom:4px"><a href="{% url gallery_photo photo1.album.id photo1.id %}"><img src="{% thumbnail photo1.image 140x140 %}"/></a><br>
    {#<font style="font-size:8px;" color=#666>Просмотров: {{ photo1.view_count }}</font>#}{#{ photo1.view_count }#}</td>

    {% if forloop.last %}
        </tr>
    {% else %}
        {% if forloop.counter|divisibleby:"4" %}
            </tr><tr>
        {% endif %}
    {% endif %}
{% endfor %}

</table>



{% endblock %}
